server:
    port: 8080

spring:
    datasource:
        url: jdbc:mysql://localhost:3306/demo?characterEncoding=utf8&useSSL=true
        username: root
        password: password
        driver-class-name: com.mysql.cj.jdbc.Driver
    redis:
        database: 0
        host: 127.0.0.1
        port: 6379
        password:
        timeout: 10000
        jedis:
            pool:
                max-active: 8
                max-wait: -1
                min-idle: 0
                max-idle: 8
    jpa:
        database: mysql
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect
    mail:
        host: smtp.qq.com
        username: 402380042@qq.com
        password: xxxx
        default-encoding: UTF-8
        fromAddr: 402380042@qq.com

log:
    level: info
    basePath: .
    outputLogFile: false