server:
    port: 8080

spring:
    profiles:
        active: prod
    datasource:
        url: jdbc:mysql://localhost:3306/demo?characterEncoding=utf8&useSSL=true
        username: root
        password: password
        driver-class-name: com.mysql.cj.jdbc.Driver
    jpa:
        database: mysql
        show-sql: true
        properties:
            hibernate:
                dialect: org.hibernate.dialect.MySQL5Dialect